@import './reset.scss';

@mixin button-style($bgColor, $bdColor) {
  padding: 8px 10px;
  background-color: $bgColor;
  border: 1px solid $bdColor;
  border-radius: 50px;
}

:root {
  background-color: #DCE6D2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: black;
  color: #fff;
  border-radius: 50px;
  height: 95vh;
  width: 420px;
  margin: 0 auto;
  padding: 50px 24px;
  box-sizing: border-box;
}

.header {
  overflow-x: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  .header__list {
    display: flex;
    color: white;
    gap: 10px;
    width: max-content;
    
    .header__list-item {
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      border-radius: 20px;
      padding: 10px;
      &:hover {
        background-color: #374151;
      }
      &:first-child {
        &:hover {
          background-color: #e6e6e6;
        }
      }
    }
    .header__list-item--inverted{
      background-color: white;
      color: black;
    }
  } 
}

 ::-webkit-scrollbar {
     display: none; /* 크롬, 사파리, 오페라, 엣지 */
 }

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 25px;
  .cards__card {
    border: 0.5px solid black;
    border-radius: 18px;
    padding-bottom:12px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      transform: scale(1.05);
      transition-duration: 0.2s;
    }
    .card__title {
      font-size: 32px;
    }
    .card__footer {
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      

      .price {
        @include button-style(#FFDD2C, black)
      }
      .length {
        @include button-style(white, black)
      }
    }
    &:first-child {
      background-color: #292D33;
      border-color: white;
      .length {
        color: black;
      }
      .price {
        color: black;
      }
    }
    &:nth-child(2) {
      background-color: #F6F4F1;
      color: black;
    }
    &:nth-child(3) {
      background-color: #F7FCAF;
      color: black;
    }
    &:nth-child(4) {
      background-color: #ac98f4;
      color: black;
    }
    &:nth-child(5) {
      background-color: #FFCFCF;
      color: black;
    }
    &:nth-child(6) {
      background-color: #CFFEDC;
      color: black;
    }
    &:nth-child(3n) {
      grid-column: span 2;
    }
  }
}